<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid  fa-bars"></i>
    </div>

    <a class="navbar-brand px4" href="#" routerLink="/home" routerLinkActive="active"><img src="assets/images/logo3.png"
            width="80" height="80" style="float:center; padding:6px"></a>

    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Boards
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <div *ngFor="let board of boards">
                        <li style="display: flex;">
                            <a class="dropdown-item board-name" [routerLink]="['/board', board.Id]">{{ board.name }}</a>                       
                            <button mat-icon-button class="material-icons board-list-button"
                                (click)="openDialog('editBoard', board.Id)">edit</button>
                            <button mat-icon-button class="material-icons board-list-button" (click)="deleteHandler(board.Id)">delete</button>
                        </li>
                    </div>
                </ul>
            </li>
            <a class="nav-link" role="button" (click)="openDialog('addBoard','0')">Add board</a>
        </ul>
    </div>
    <ul class="navbar-nav me-auto" style="padding-right: 6px;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Set Board Theme
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="ChangeTheme('blue')">Blueberry</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="ChangeTheme('pink')">Pink Candy</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="ChangeTheme('myphpol')">MyPHPoL
                        Heritage</a></li>
            </ul>
        </li>
    </ul>
    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Profile
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item">Profile</a></li>
            <li><a class="dropdown-item">Settings</a></li>
            <li><a class="dropdown-item">Log out</a></li>
        </ul>
    </div>
</nav>