<div class="container">
        <div cdkDropList class="card" [cdkDropListData]="card.taskList" (cdkDropListDropped)="drop($event)" style="background-color: {{card.color}}">
            <div  class="task">
                <div  class="task-text"><p style="font-weight: bold; font-size: 20px;" mat-dialog-title>{{card.name | uppercase}} {{item}} </p></div> 
                <div class="delete-button"><button mat-icon-button class="material-icons" (click)="deleteCard(item)">delete_outline</button></div>
            </div>
            <p mat-dialog-title style="margin-top:0;line-height: 10px;">All Tasks have priority {{card.priority}} in this card by default</p>
            <mat-card class="card-item" *ngFor="let task of card.taskList, index as i" cdkDrag>
                    <mat-card-content>
                            <div  class="task"> 
                                <div class="task-text">{{task.content}} {{task.creationDate}}</div><div class="edit-button"><button mat-icon-button class="material-icons" >edit</button></div> <div class="delete-button"><button mat-icon-button class="material-icons" (click)="card.deleteTask(i)">delete_outline</button></div>
                            </div>
                    </mat-card-content>
            </mat-card>
        <form #newTaskForm="ngForm" (ngSubmit)="onSubmit(newTaskForm)">
            <mat-form-field>
                <input matInput name="newTask" ngModel type="text" placeholder="Add new task" required>
            </mat-form-field>
            <button mat-raised-button type="submit" color="accent" *ngIf="!newTaskForm.valid" disabled>Add Task</button>
            <button mat-raised-button type="submit" color="accent" *ngIf="newTaskForm.valid">Add Task</button>
        </form>
    </div>
</div>