.title-text{
    font-family: 'Lato';
    color: #fff;
    font-size: 400%;
    margin-top: 30px;
    margin-left: 8px;
}
  .center {
    position:fixed;
    background-color:black;
    top: 45%;
    left: 40%;
    margin-top: -50px;
    width: 387px;
    height: 80px;
  }

.bg-white {
  background-color: #fff;  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg {
  background-image: url("../../../assets/images/stock-home-background2.jpg");
  height: 100%;
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}