app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 3;
}

main {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 2;
}

.black-border {
    border: 1px solid black;
}

app-side-nav {
    position: absolute;
    left: 0rem;
    width: 60px;
    height: calc(100vh - 4rem);
    box-shadow: 0px, 0px, 10px rgba(0, 0, 0, 0.5);
    border-top: 1px solid white;
    background-color: rgba(34, 34, 34, 1);
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
    z-index: 2;
}

.app-side-nav-open {
    width: 250px;
}

.display-area {
    
    
    width: calc( 100% - 60px );
    transition: left 250ms ease-in, width 250ms ease-in;
    overflow:auto;
    z-index: 1;
    height: calc(100vh - 4rem);
    left: 60px;
    position: fixed;
    display: flex;

}

.display-area-shrink {
    width: calc(100% - 250px);
    left: 250px;
}