<form #edit="ngForm" style="margin: 3px">
    <h1 mat-dialog-title>Edit task</h1>
    <div mat-dialog-content>
        <mat-label>Task name*</mat-label><br>
        <mat-form-field>
            <input name="content" matInput [(ngModel)]="data.content" required maxlength="20">
        </mat-form-field><br>

        <mat-label>Task description</mat-label><br>
        <mat-form-field>
            <textarea name="desc" matInput [(ngModel)]="data.desc" maxlength="100"></textarea>
        </mat-form-field>

        <br><mat-label>Due date</mat-label><br>
        <mat-checkbox [(ngModel)]="data.hasNotDue" name="hasNotDue">No Task Termin</mat-checkbox>
        <mat-form-field name="dueDate">
            <input matInput [matDatepicker]="dp3" [(ngModel)]="data.dueDate" [min]="today" [disabled]="data.hasNotDue" name="dueDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp3" [disabled]="data.hasNotDue"></mat-datepicker-toggle>
            <mat-datepicker #dp3></mat-datepicker>
            <mat-error *ngIf="edit.controls['dueDate'].invalid">Invalid date</mat-error>
        </mat-form-field><br><br>
        
        <mat-label>Priority*</mat-label><br>
        <mat-slider
            [max]=5
            [min]=0
            [step]=1
            [discrete]=true
            [showTickMarks]=true>
        <input matSliderThumb name="priority" [(ngModel)]="data.priority">
        </mat-slider><br>

        <mat-label>Mark Task as done: </mat-label>
        <mat-checkbox class="item push-right" [(ngModel)]="data.isDone" name="isDone"></mat-checkbox>

        <div mat-dialog-actions>
            <button mat-raised-button color="primary" *ngIf="!edit.valid" disabled >Accept</button>
            <button mat-raised-button color="primary" [mat-dialog-close]="data" *ngIf="edit.valid" >Accept</button>
            <button (click)="closeWindow()" mat-raised-button color="warn">Close</button>
        </div>
    </div>
</form>
