button {
    margin: 10px;
}
 
.card-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

html {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}