<div>

  <mat-card>
    <mat-card-title style="margin-top: 5px;">Register</mat-card-title>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <br>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Email" formControlName="email">
          <!-- Here we can display error messages/hints for the user, if one of the Validators adds an error to the email 
             with the .touched check we only display the hints if the input was touched by the users -->
          <mat-error
            *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('required')">
            Email is required</mat-error>
          <mat-error
            *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('email')">
            Email must be a valid Email</mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type="text" matInput placeholder="Username" formControlName="name">
          <mat-error
            *ngIf="this.registerForm.get('name')?.touched && this.registerForm.get('name')?.hasError('required')">Username
            is required</mat-error>
          <mat-error
            *ngIf="this.registerForm.get('name')?.touched && this.registerForm.get('name')?.hasError('minlength')">Username
            must be at least 4 characters long</mat-error>
          <mat-error
            *ngIf="this.registerForm.get('name')?.touched && this.registerForm.get('name')?.hasError('maxlength')">Username
            cannot exceed 31 characters</mat-error>
        </mat-form-field>
        <br>
        <br>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error
            *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.hasError('required')">
            Password is required</mat-error>
          <mat-error
            *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.hasError('minlength')">
            Password must be at least 6 characters long</mat-error>
          <mat-error
            *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.hasError('maxlength')">
            Password cannot exceed 255 characters</mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field>
          <mat-label>Repeat password</mat-label>
          <input type="password" matInput placeholder="Repeat password" formControlName="repeatPassword">
          <mat-error
            *ngIf="this.registerForm.get('repeatPassword')?.touched && this.registerForm.get('repeatPassword')?.hasError('required')">
            Password Confirmation is required</mat-error>
            
        </mat-form-field>
        <mat-error style="font-size:small;display: flex; justify-content:baseline"
          *ngIf="this.registerForm.get('repeatPassword')?.dirty && this.registerForm.hasError('passwordsNotMatching')">
          Passwords are not matching!</mat-error>
        <br>
        
        <div class="button">
          <!-- Button is disabled(not clickable), if our RegisterForm contains Validation Errors -->
          <button type="submit" mat-button [disabled]="!registerForm.valid" style="width: 100%;;">Register</button>

        </div>

        <br>
        <div class="login">
          Already a MyPHPoL member?<br><a [routerLink]="['../login']" style="padding-left: 65px;">Go to Login</a></div>


      </form>
    </mat-card-content>

  </mat-card>
</div>